### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np
from matplotlib import pyplot as plt

# File to Load (Remember to Change These)
covid_data_to_load = Path("covid19.csv")


# Read School and Student Data File and store into Pandas DataFrames
covid_data_to_load_data = pd.read_csv(covid_data_to_load)

covid_data_to_load_data.head()

,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,Latitude,Longitude
0,Afghanistan,223175,153899577,7928,6294821,33.768006,66.238514
1,Albania,334090,221742640,3604,2878307,41.000028,19.999962
2,Algeria,271847,212629366,6881,5656884,28.000027,2.999983
3,American Samoa,8332,3551635,34,14618,-11.053002,-171.081703
4,Andorra,48015,29836693,159,144217,40.975336,-0.444278

In [5]:
# Calculate the total  number of countries in the dataset
unique_country_name=covid_data_to_load_data["Country"].unique()
total_country_number=len(unique_country_name)
total_country_number

233

In [7]:
#Calculate the total number of covid cases
total_covid_cases=covid_data_to_load_data["Cumulative_cases"].sum()
total_covid_cases

405251721844

In [12]:
#Calculate the total number of cumulative deaths in the dataset
total_covid_deaths = covid_data_to_load_data["Cumulative_deaths"].sum()
total_covid_deaths

5196529330

In [13]:
#Calculate the average cumulative cases in the dataset
average_cumulative_cases = covid_data_to_load_data["Cumulative_cases"].mean()
average_cumulative_cases

1739277776.1545064

In [10]:
#Calculate the average cumulative deaths in the dataset
average_cumulative_deaths = covid_data_to_load_data["Cumulative_deaths"].mean()
average_cumulative_deaths

22302700.98712446

In [15]:
# Calculate total cumulative cases by country
total_covidcases_bycountry = covid_data_to_load_data.groupby("Country").mean()["Cumulative_cases"]
total_covidcases_bycountry

Country
Afghanistan          1.538996e+08
Albania              2.217426e+08
Algeria              2.126294e+08
American Samoa       3.551635e+06
Andorra              2.983669e+07
                         ...
Viet Nam             5.598072e+09
Wallis and Futuna    1.174021e+06
Yemen                9.196794e+06
Zambia               2.337966e+08
Zimbabwe             1.696279e+08
Name: Cumulative_cases, Length: 233, dtype: float64

In [17]:
#number of total new and cumulative cases, new and cumulative deaths globally
worldwide_stats = covid_data_to_load_data[['New_cases', 'Cumulative_cases', 'New_deaths', 'Cumulative_deaths']].sum()
worldwide_stats = worldwide_stats.to_frame().rename(columns={0: 'Number of Cases'})
worldwide_stats

                   Number of Cases
New_cases                766339879
Cumulative_cases      405251721844
New_deaths                 6939172
Cumulative_deaths       5196529330

In [28]:
top_10_confirmed = covid_data_to_load_data.sort_values('Cumulative_cases', ascending=False)[:10][['Country', 'Cumulative_cases']].reset_index(drop=True)
top_10_confirmed

                    Country  Cumulative_cases
0  United States of America       64496325842
1                     India       34068533022
2                    Brazil       25258981152
3                     China       20054618619
4                    France       19560844190
5                   Germany       17892944570
6        The United Kingdom       14829767085
7        Russian Federation       13260421559
8                     Italy       12928081898
9         Republic of Korea       11929505476